---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: changedetection
  name: changedetection
spec:
  selector:
    app.kubernetes.io/name: changedetection
    app.kubernetes.io/instance: changedetection
  ports:
  - name: changedetection
    protocol: TCP
    port: 5000
