---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deploy.yaml
- pvc.yaml
- externalsecret.yaml

labels:
- pairs:
    app.kubernetes.io/name: netatmo-wunderground-agent
    app.kubernetes.io/instance: netatmo-wunderground-agent
