---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: blackbox-

resources:
- deploy.yaml
- service.yaml

labels:
- pairs:
    app: blackbox-exporter

configMapGenerator:
- name: config
  files:
  - config.yaml
