---
apiVersion: v1
kind: Service
metadata:
  name: exporter
spec:
  selector:
    app.kubernetes.io/name: blackbox-exporter
    app.kubernetes.io/instance: blackbox-exporter
  ports:
  - name: exporter
    protocol: TCP
    port: 9115
