secret*.yaml filter=git-crypt diff=git-crypt
secret*.json filter=git-crypt diff=git-crypt
secret*.yml filter=git-crypt diff=git-crypt
secret*.txt filter=git-crypt diff=git-crypt
*secret.yaml filter=git-crypt diff=git-crypt
*secret.json filter=git-crypt diff=git-crypt
*secret.yml filter=git-crypt diff=git-crypt
*secret.txt filter=git-crypt diff=git-crypt
externalsecret*.yaml !filter !diff
