---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

resources:
- helm/templates/serviceaccount.yaml
- helm/templates/clusterrole.yaml
- helm/templates/clusterrolebinding.yaml
- helm/templates/deployment.yaml

commonLabels:
  app: reloader
