---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deploy.yaml
- configmap.yaml
- externalsecret.yaml
- ingress.yaml
- mysql-deploy.yaml
- mysql-pvc.yaml
- mysql-service.yaml
- pvc.yaml
- service.yaml

labels:
- pairs:
    app.kubernetes.io/name: hass
    app.kubernetes.io/instance: hass
  includeSelectors: true
