---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
- deploy.yaml
- externalsecret.yaml

labels:
- pairs:
    app.kubernetes.io/name: mqtt-log
    app.kubernetes.io/instance: mqtt-log
