---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deploy.yaml
- service.yaml
- service-dns-tcp.yaml
- service-dns-udp.yaml
- ingress.yaml
- pvc-config.yaml
- pvc-dnsmasq.yaml
- externalsecret.yaml

labels:
- pairs:
    app.kubernetes.io/name: pihole
    app.kubernetes.io/instance: pihole
  includeSelectors: true
images:
- name: pihole/pihole
  newTag: 2025.07.1@sha256:f84c1654bfbafc44e2ac8447a1fa2fb739eae66395b4c179d2c59cb93e1321f3
