---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
- deployment.yaml
- service.yaml
- ingress.yaml
- externalsecret.yaml
- pvc.yaml

labels:
- pairs:
    app.kubernetes.io/name: qbit-manage
    app.kubernetes.io/instance: qbit-manage
  includeSelectors: true
