---
apiVersion: v1
kind: Service
metadata:
  name: qbit-manage
  labels:
    app: qbit-manage
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: web-api
  selector:
    app: qbit-manage
