---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: mosquitto
  annotations:
    external-dns.alpha.kubernetes.io/hostname: mqtt.k.oneill.net
    metallb.io/allow-shared-ip: plexmediaserver
  name: mosquitto
spec:
  type: LoadBalancer
  loadBalancerIP: 172.19.74.21
  selector:
    app.kubernetes.io/name: mosquitto
    app.kubernetes.io/instance: mosquitto
  ports:
  - name: mqtt
    protocol: TCP
    port: 1883
  - name: mqtt-websockets
    protocol: TCP
    port: 9001
