---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
- deploy.yaml
- service.yaml
- externalsecret.yaml

labels:
- pairs:
    app.kubernetes.io/name: awair-exporter
    app.kubernetes.io/instance: awair-exporter
