---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
 - helm/templates/rbac.yaml
 - helm/templates/common.yaml

commonLabels:
  app: homepage

configMapGenerator:
- name: homepage
  literals:
    - docker.yaml=""
    - bookmarks.yaml=""
    - services.yaml=""
  files:
    - kubernetes.yaml
    - settings.yaml
    - widgets.yaml
