---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
- deploy.yaml
- ingress.yaml
- pvc.yaml
- service.yaml
- externalsecret.yaml

labels:
- pairs:
    app.kubernetes.io/name: plexmediaserver
    app.kubernetes.io/instance: plexmediaserver
