---
apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/scrape: 'true'
  labels:
    name: pushgateway
  name: pushgateway
spec:
  selector:
    app.kubernetes.io/name: pushgateway
    app.kubernetes.io/instance: pushgateway
  ports:
  - name: pushgateway
    protocol: TCP
    port: 9091
