---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
- deployment.yaml
- service.yaml
- ingress.yaml
- pvc.yaml
- externalsecret.yaml

configMapGenerator:
- name: cross-seed-config
  files:
  - config.js

labels:
- pairs:
    app.kubernetes.io/name: cross-seed
    app.kubernetes.io/instance: cross-seed
  includeSelectors: true
