---
# Source: postgresql/templates/primary/pdb.yaml
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: n8n-postgres-postgresql
  namespace: "n8n"
  labels:
    app.kubernetes.io/instance: n8n-postgres
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/version: 17.5.0
    helm.sh/chart: postgresql-16.7.19
    app.kubernetes.io/component: primary
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: n8n-postgres
      app.kubernetes.io/name: postgresql
      app.kubernetes.io/component: primary
