---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-nginx

resources:
- namespace.yaml
- helm/clusterrole.yaml
- helm/clusterrolebinding.yaml
- helm/controller-configmap.yaml
- helm/controller-deployment.yaml
- helm/controller-ingressclass.yaml
- helm/controller-poddisruptionbudget.yaml
- helm/controller-role.yaml
- helm/controller-rolebinding.yaml
- helm/controller-service.yaml
- helm/controller-serviceaccount.yaml

labels:
- pairs:
    app: ingress-nginx
