---
# Source: descheduler/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: descheduler
  namespace: default
  labels:
    app.kubernetes.io/name: descheduler
    helm.sh/chart: descheduler-0.26.0
    app.kubernetes.io/instance: descheduler
    app.kubernetes.io/version: "0.26.0"
    app.kubernetes.io/managed-by: Helm
