---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
- deployment.yaml
- pvc.yaml
- service.yaml
- ingress.yaml
- externalsecret.yaml

labels:
- pairs:
    app.kubernetes.io/name: transmission
    app.kubernetes.io/instance: transmission
  includeSelectors: true
