---
# Source: cert-manager/templates/controller-config.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: cert-manager
  namespace: cert-manager
  labels:
    app: cert-manager
    app.kubernetes.io/name: cert-manager
    app.kubernetes.io/instance: cert-manager
    app.kubernetes.io/component: "controller"
    app.kubernetes.io/version: "v1.13.6"
    app.kubernetes.io/managed-by: Helm
    helm.sh/chart: cert-manager-v1.13.6
data:
