---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- cronjob-full.yaml
- cronjob-incremental.yaml
- externalsecret.yaml
- pvc.yaml

labels:
- pairs:
    app.kubernetes.io/name: got-your-back
    app.kubernetes.io/instance: got-your-back
  includeSelectors: true
configMapGenerator:
- name: run-script
  files:
  - run.sh
