---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
 - helm/promtail/templates/clusterrole.yaml
 - helm/promtail/templates/clusterrolebinding.yaml
 - helm/promtail/templates/daemonset.yaml
 - helm/promtail/templates/serviceaccount.yaml

labels:
  - pairs:
      app: promtail

secretGenerator:
  - name: promtail
    files:
      - promtail.yaml=helm/promtail.dist.yaml
    type: Opaque