---
# Source: postgresql/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: n8n-postgres-postgresql
  namespace: "n8n"
  labels:
    app.kubernetes.io/instance: n8n-postgres
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/version: 17.5.0
    helm.sh/chart: postgresql-16.7.20
automountServiceAccountToken: false
